
h1{ 
    
    color: purple; 
    font-family: Montserrat;
    text-align: center;
}

.tbSection{ 
    display: flex;
    justify-content: center;
}

.field{ 
    text-align: left;
    font-family: Montserrat;
}

.boxField{ 
    width: 250px;
}

.butt{ 
    font-family: Montserrat;
}

.tb{
    
    background: rgb(248, 194, 246);
    width: 500px; 
}
.dd{ 
    font-family: Montserrat;
}

.submitButt{ 
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    
    
}

.button{ 
    font-family: Montserrat;
    background-color: rgb(255, 236, 255);
    border: none; 
    border-radius: 10px; 
    min-width: 150px;

}