@font-face {
    font-family: Emporio-Hotel;
    src: url(/pub/font-family/EmporioHotel-Regular.ttf);
}

h1{
    font-family: Emporio-Hotel;

}

body{
    background-color: #eeeeee;
    font-family: Open+Sans !important;
}

.nav-link{
    color: black !important;
    text-decoration: none;
    margin: 0em 1em;
    padding: 0px 20px;
    font-size: 18px;
}

.nav-bar-items{
    margin-left: 3em;
}

.nav-bar-logo{
    width: 250px;
}

.nav-wrapper{
    width: 1400px;
    border-bottom: 2px solid #8e8e8c;

}
.create-account-div{
    display: flex;
    justify-content: center;
}

.create-account-div a{
    display: flex;
    justify-content: center;
    margin: 5px;
    text-decoration: none;

}



header{
    display: flex;
    justify-content: center;
}





.button-links{
    background-color: black;
}

.arrow-img{
    width: 200px;
}

.button-divs{

    display: flex;
    justify-content: flex-end;
    width: 200px;
    align-content: flex-end;
    border: 1px solid black;
    margin-top: 3em;
}

.arrow-div{
    background-color: black;
    padding: 7px;
}

.arrow-div:hover{
    background-color: #d12468;
    padding: 7px;
}

.text-div{
    padding: 7px;
    margin-right: 70px;
}

.text-div a{
    color: black;
    text-decoration: none;
}

.text-div a:hover{
    color: black;
    text-decoration: none;
    color: #d12468;
}

.button{
    text-decoration: none;
    color: black;
    border: black solid 1px;
    padding: 1em 3em;
}

.button:hover{
    text-decoration: none;
    color: white;
    background: rgb(254,190,39);
    background: radial-gradient(circle, rgba(254,190,39,1) 0%, rgba(254,104,47,1) 23%, rgba(245,45,58,1) 43%, rgba(209,36,104,1) 75%, rgba(111,9,100,1) 91%);
    padding: 1em 3em;



}

